<!DOCTYPE html>
<html>
  <head>
    <title>Маршрут № <%=number%></title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/javascripts/StyledMarker.js"></script>
    <script>
      function initialize() {
        var map_canvas = document.getElementById('google_map_canvas');
        var map_options = {
          center: new google.maps.LatLng(48.4308357, 35.04171),
          zoom: 12,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(map_canvas, map_options)
      }

      function getUpdate(){
        <%= "$(\"#content\").load(\"\/route\/#{number.to_s}\");" %>
        setTimeout(getUpdate,5000);
      }
      $(initialize);
      $(getUpdate);
    </script>
  </head>
  <body>
    <div id="google_map_canvas" style="width: 100%; height: 500px;"></div>
    <div id="content"></div>
  </body>
</html>